SUBSYSTEM!="block", GOTO="usb_automount_end"
ENV{ID_BUS}!="usb", GOTO="usb_automount_end"
ENV{DEVTYPE}!="partition", GOTO="usb_automount_end"
ENV{ID_FS_USAGE}!="filesystem", GOTO="usb_automount_end"
ENV{ID_FS_LABEL}!="", ENV{mntdir}="/run/media/%E{ID_FS_LABEL}"
ENV{ID_FS_LABEL}=="", ENV{mntdir}="/run/media/usbdisk-%k"
ENV{mntoptions}="ro,noatime,noexec,nosuid"
ENV{ID_FS_TYPE}=="vfat", ENV{mntoptions}="%E{mntoptions},uid=0,gid=0,fmask=0022,dmask=0022,utf8"
ACTION=="add", RUN+="/bin/mkdir -p %E{mntdir}"
ACTION=="add", RUN+="/bin/mount --make-shared -t %E{ID_FS_TYPE} -o %E{mntoptions} -v %E{DEVNAME} %E{mntdir}"
ACTION=="remove", RUN+="/bin/umount %E{mntdir}"
ACTION=="remove", RUN+="/bin/rmdir %E{mntdir}"
LABEL="usb_automount_end"
