SUBSYSTEM!="block", GOTO="confs_usbstorage_end"
ENV{ID_BUS}!="usb", GOTO="confs_usbstorage_end"
ENV{DEVTYPE}!="partition", GOTO="confs_usbstorage_end"
ENV{ID_FS_USAGE}!="filesystem", GOTO="confs_usbstorage_end"
ENV{ID_FS_LABEL}!="", ENV{mntdir}="run/media/%E{ID_FS_LABEL}"
ENV{ID_FS_LABEL}=="", ENV{mntdir}="run/media/usbdisk-%k"
ACTION=="add", RUN+="/usr/bin/tarconfs -log-level=3 -tar-dir=/%E{mntdir}"
LABEL="confs_usbstorage_end"
