SUBSYSTEM!="block", GOTO="confs_usbstorage_end"
ENV{ID_BUS}!="usb", GOTO="confs_usbstorage_end"
ENV{DEVTYPE}!="partition", GOTO="confs_usbstorage_end"
ENV{ID_FS_USAGE}!="filesystem", GOTO="confs_usbstorage_end"
ENV{ID_FS_LABEL}!="", ENV{mntdir}="run/media/%E{ID_FS_LABEL}"
ENV{ID_FS_LABEL}=="", ENV{mntdir}="run/media/usbdisk-%k"
PROGRAM="/bin/systemd-escape %E{mntdir}"
ENV{systemdpath}="confs-usbstorage@%c.path"
ACTION=="add", ENV{SYSTEMD_WANTS}="%E{systemdpath}", TAG+="systemd"
ACTION=="remove", RUN+="/bin/systemctl stop %E{systemdpath}"
LABEL="confs_usbstorage_end"
